.shoppingCard {
    width: 70%;
    height: auto;
    border: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;

    &__pictred-container {
        width: 13%;
        height: auto;
        border: 1px solid #ececec;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 1rem;
    }

    &__pictured {
        width: 90%;
        height: auto;
    }

    &__info-container {
        width: 80%;
        height: auto;
        // border: 1px solid;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__name {
        width: 45%;
        font-size: 1.6rem;
        font-family: "Quicksand", sans-serif;
        color: #253D4E;
        font-weight: 700;
        line-height: 1.2;
        transition: .5s ease all;
    }

    &__name:hover {
        color: #ffc107;
    }

    &__purchase-information {
        width: 50%;
        height: auto;
        // border: 1px solid;
        display: flex;
        justify-content: space-evenly;
    }

    &__price {
        font-size: 1.6rem;
        font-family: "Quicksand", sans-serif;
        color: #7E7E73;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 17px;
    }

    &__price-subtotal {
        font-size: 1.6rem;
        font-family: "Quicksand", sans-serif;
        color: #7E7E73;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 17px;
    }

    &__quantity {
        width: 22%;
        height: 60%;
        border: 1px solid #3BB77E;
        border-radius: .5rem;
        padding: 0px 5px 0px 30px;
    }

    ::placeholder {
        color: #3BB77E;
    }

    &__delete {
        width: 15%;
        height: 70%;
        background: none;
        border: none;
    }
}