*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.wrapper {
    width: 135.1rem;
    margin: 0 auto
}

@import '../scss/header';
@import '../scss/wrapper-slide';
@import '../scss/featured-products';
@import '../scss/popular-products';
@import '../scss/popular-product-item';
@import '../scss/daily-sells';
@import '../scss/deals-day';
@import '../scss/top-products';
@import '../scss/pagination';
@import '../scss/shopingCard'