.nav {
    width: 100%;
    border: 1px solid #ececec; 
    padding: 0px 10px 0px 0;
    display: flex;
    justify-content: space-between;
}

.nav__info {
    display: flex;
    width: 22%;
    list-style: none;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding: 5px 0 5px 0;
    align-items: center;
}

.nav__link{
    text-decoration: none;
    color: #7E7E7E;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    font-size: .8rem;
}

.nav__info__item {
    display: flex;
    position: relative;
}

.nav__info__item::after {
    content: "";
    width: 1%;
    height: 2vh;
    background-color: red;
    background: #dedfe2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
}

.nav__info__item:last-child::after {
    display: none;
}

.nav__ticker {
    display: flex;
    list-style: none;
    /* border: 1px solid; */
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    align-items: center;
    font-size: .9rem;
}

.nav__ticker__item {
    position: absolute;
}

.item1 {
    z-index: 2;
    /* animation: foo .8s 2s linear infinite; */
    color: #7E7E7E;
}

.item2 {
    /* animation: goo .8s 2s linear infinite; */
    opacity: 0;
    transform: translateY(20px);
    color: red;
}

.item3 {
    animation: voo 1s 1.5s linear forwards ;
    transform: translateY(20px);
    opacity: 0;
    color: blue;
}

@keyframes foo {
    0% {
        transform: none;
    }
    30% {
        transform: translateY(-30px);
    }
    50% {
        transform: none;
    }
    60% {
        transform: none;
    }
    70% {
        transform: none;
    } 
    80% {
        transform: none;
    }
    100% {
        transform: none;
    }
}
@keyframes goo {
    0% {
        transform: none;
    }
    30% {
        transform: translateY(-5px);
        opacity: 1;
    }
    50% {
        transform: none;
    }
    60% {
        transform: none;
    }
    70% {
        transform: none;
    } 
    80% {
        transform: none;
    }
    100% {
        transform: none;
    }
}
.nav__right-info {
    display: flex;
    width: 25%;
    list-style: none;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding: 5px 0 5px 0;
    align-items: center;
}
.nav--info-style {
    font-family: "Lato", sans-serif;
}
.nav__right-info__item {
    color: #7E7E7E;
    display: flex;
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: .9rem;
    /* margin: 0 0px 0 5px; */
}
.nav__right-info__item:after {
    content: "";
    width: 1%;
    height: 2vh;
    background: #dedfe2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}
.nav__right-info__item:last-child::after {
    display: none;
}
.nav--telephon {
    color: #3BB77E;
}
.nav__language {
    padding: 5px;
    border: none;
    background-color: white;
}
.nav--language {
    color: #7E7E7E;
    align-items: center;
    font-size: 0.8rem;
    font-family: "Lato", sans-serif;
}
.header__main {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    padding: 20px 0px 20px 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header__main__logo {
    width: 15%;
    height: auto;
    /* border: 1px solid; */
}
.header__main__svg {
    width: 80%;
}
.header__main__search {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    max-width: 780px;
}
.header__categories {
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    padding: 20px;
    border: none;
    background: none;
    position: relative;
}
.header__search-container {
    width: 100%;
    max-width: 700px;
    height: auto;
    border: 1px solid #BCE3C9;
    border-radius: 5px;
    position: relative;
}
.header__search-item {
    width: 77%;
    height: auto;
    /* border: 1px solid; */
    position: relative;
    border: none;
    /* margin-left: 50px; */
    padding: 10px;
}
.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 1.3rem;
    color: #a8a8a8;
}
.profile {
    width: 100%;
    max-width: 400px;
    height: auto;
    /* border: 1px solid; */
    display: flex;
}
.profile__action {
    width: 40%;
    height: auto;
    /* border: 1px solid red; */
    position: relative;
}
.profile__link {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #7E7E7E;
}
.profile__action:nth-child(3) {
    width: 30%;
}
.profile__action:first-child:after {
    content: "3";
    background-color: #3BB77E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    padding: 4px;
    left: 15px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.8rem;
}
.profile__action:nth-child(2):after {
    content: "6";
    background-color: #3BB77E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
    padding: 4px;
    left: 15px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.8rem;
}
.profile__action:nth-child(3):after {
    content: "2";
    background-color: #3BB77E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    height: auto;
    padding: 4px;
    left: 15px;
    top: -5px;
    position: absolute;
    border-radius: 50%;
    font-size: 0.8rem;
}
.header__department {
    width: 100%;
    height: auto;
    border: 1px solid #ececec;
    margin-top: 10px;
    padding: 10px;
    display: flex;
}
.header__brows__categories {
    width: 17%;
    height: 3rem;
    /* border: 1px solid; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #3BB77E;
}
.header__square {
    width: 25%;
    height: 25%;
    margin-left: 20px;
}
.header__categorise-text {
    color: white;
    border: none;
    background: none;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}
.department {
    width: 60%;
    height: auto;
    list-style: none;
    display: flex;
    /* border: 1px solid; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}
.department__list {
    position: relative;
    margin: 0 30px 0 0;
}
.department__list > .department__link {
    font-size: 1rem;
    font-weight: 700;
    color: #253D4E;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}
.department__list::after {
    content: '^';
    width: 5%;
    height: 5vh;
    position: absolute;
    transform: rotate(180deg);
    left: 55px;
    bottom: 2px;
}
.department__list:nth-child(2)::after {
   display: none;
}
.department__list:nth-child(4)::after {
    display: none;
 }
 .department__list:last-child::after {
    display: none;
 }
 .department__list:nth-child(6)::after {
    left: 75px;
 }
 .department__list:nth-child(7)::after {
    left: 95px;
 }
.department__list > .link--green {
    color: #3BB77E;
}
 .department__list > .department__link:hover {
    color: #3BB77E;
 }

 .suport-center {
    width: 13%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
 }
 .suport-center__number {
    color: #3BB77E;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    line-height: 1.1rem;
 }
 .suport-center__text {
    display: block;
    font-size: .9rem;
    color: #7E7E7E;
    font-weight: normal;
 }