.top-products {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    margin-top: 60px;
}
#top-products__for-div {
    width: 25%;
    height: auto;
    /* border: 1px solid; */
    padding: 15px 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.top-product__profile-div {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    position: relative;
}
.top-product__profile {
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    font-weight: 700;
    font-size: 22px;
}
.top-product__hr {
    margin-top: 26px;
    width: 80%;
    border: none;
    height: 0.1vh;
    background-color: #adadad;
    margin-left: auto;
    opacity: 0.4;
}
.top-product__mini-hr {
    width: 20%;
    height: 0.5vh;
    background-color: #BCE3C9;
    /* border: 1px solid #3BB77E; */
    position: absolute;
    bottom: -2px;
}
.top-product__info-card {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 25px;
    transition: all .3s;
}
.top-product__info-card:hover {
    transform: translateY(-5px);
}
.top-product__pictured-card {
    width: 30%;
    height: auto;
    /* border: 1px solid; */
}
.top-product__pictured {
    width: 100%;
    height: 100%;
}
.top-product__description{
    width: 70%;
    height: auto;
    /* border: 1px solid; */
    padding: 0 0 0 20px;
    /* margin-top: 25px; */
}
.top-product__description-text {
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: #253D4E;
    display: block;
}
.top-product__description-text:hover {
    color: #3BB77E;
}
.fa-star {
    font-size: 11px;
    color: #ffc107;
    margin-top: 5px;
}
.top-product__price {
    color: #3BB77E;
    display: block;
    font-weight: 700;
    font-size: 19px;
    margin-top: 15px;
    font-family: "Quicksand", sans-serif;
}
.top-product__discount-price {
    color: #adadad;
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
}
