.popular-products-container {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    margin-top: 80px;
}
.popular-products__categories {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.popular-products__categories-header {
    font-weight: 700;
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
}
.popular-products__item {
    width: 45%;
    /* border: 1px solid; */
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-evenly;
}
.popular-products__list {
    transition: all ease .3s;
}
.popular-products__list:hover {
    transform: translateY(-.2rem);
}
.popular-products__click:hover {
    color: #3BB77E;
}
.popular-products__click {
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4rem;
    color: #253D4E;
    font-weight: 600;
}
.popular-products--color-green {
    color: #3BB77E;
}
.popular-products {
    width: 100%;
    height: auto;
    // border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.popular-products_container {
    width: 19%;
    height: auto;
    border: 1px solid #ececec;
    border-radius: 1.6rem;
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.popular-products_container:hover {
    border: 1px solid #73ceb3;
}
.popular-products__descriptions {
    position: absolute;
    width: 22%;
    height: auto;
    padding: 7px;
    background-color: #f74b81;
    border-radius: 1.6rem 0 1.6rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.popular-products__descriptions--color-aqua {
    background-color: #67bcee;
}
.popular-products__descriptions--color-green {
    background-color: #3BB77E;
}
.popular-products__descriptions--color-orange {
    background-color: #f59758;
}
.popular-products__descriptions--color-green {
    background-color: #3BB77E;
}
.popular-products__pictured {
    // border: 1px solid;
    // margin-left: 20px;
    margin-top: 10px;
    width: 80%;
    height: 50%;
}
.popular-product__text-category {
    color: #adadad;
    font-size: 1.1rem;
    text-decoration: none;
    display: block;
    line-height: 30px;
    margin-left: 20px;
}
.popular-products__description-dish {
    width: 80%;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: #253D4E;
    line-height: 20px;
    text-decoration: none;
    display: block;
    margin-left: 20px;
}
.popular-products__description-dish:hover {
    color: #3BB77E;
}
.popular-products__fa-star-container {
    width: 30%;
    height: auto;
    /* border: 1px solid; */
    margin-left: 20px;
}
.fa-star {
    color: #ffc107;
    font-size: 12px;
    margin-top: 10px;
}
.popular-products__title-company {
    color: #adadad;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1.2rem;
}
.popular-products--color-green {
    color: #20c997;
}
.popular-products__price-add-container {
    width: 85%;
    height: auto;
    display: flex;
    // border: 1px solid;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
.popular-products__price {
    width: 50%;
    height: auto;
    font-size: 1.6rem;
    font-weight: bold;
}
.popular-products__discount-price {
    color: #adadad;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 7px;
    text-decoration: line-through;
}
.popular-products__add-btn {
    width: 30%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DEF9EC;
    border-radius: 5px;
    color: #20c997; 
    font-weight: 400;
    font-size: 1.3rem;
    border: none;
}
.popular-products__add:hover {
    background-color: #20c997;
    color: white;
    animation: foo .5s ease forwards;
}
@keyframes foo {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-5px);
    }
}
.fa-cart-shopping {
    color: #20c997;   
}