.shoppingCard {
    width: 70%;
    height: auto;
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &__pictured-container {
        width: 13%;
        height: auto;
        // border: 1px solid;
        padding: 10px;
        border-radius: 1.6rem;
        border: 1px solid #ececec;
    }

    &__pictured {
        width: 100%;
        border-radius: 1rem;
    }

    &__info-container {
        width: 83%;
        height: auto;
        // border: 1px solid;
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }

    &__purchase-information {
        width: 45%;
        display: flex;
        // border: 1px solid;
        justify-content: space-evenly;
    }

    &__name {
        font-size: 1.6rem;
        font-family: "Quicksand", sans-serif;
        color: #253d4e;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 20px;
    }

    &__price {
        font-size: 2.4rem;
        font-family: "Quicksand", sans-serif;
        color: #253d4e;
        font-weight: 700;
        line-height: 1.2;
        color: #7e7e7e;
        margin-top: 25px;
    }

    &__price-subtotal {
        font-size: 2.4rem;
        font-family: "Quicksand", sans-serif;
        color: #253d4e;
        font-weight: 700;
        line-height: 1.2;
        color: #3bb77e;
        margin-top: 25px;
    }

    &__quantity {
        width: 20%;
        height: 7vh;
        padding-left: 30px;
        border-radius: 0.5rem;
        border: 2px solid #3bb77e;
        margin-top: 10px;
    }

    &__delete {
        width: 25%;
        height: 7vh;
        border-radius: 0.5rem;
        background-color: #253d4e;
        border: none;
        color: #3bb77e;
        margin-top: 10px;
    }
}
